{% extends 'base.html' %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{% url 'dashboard' %}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Add New User</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <h1 class="page-title"> </h1>
    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bg-inverse form-fit">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="icon-settings font-red-sunglo"></i>
                                <span class="caption-subject bold uppercase"> Current Status</span>
                            </div>
                        </div>
                        <div class="portlet-body flip-scroll">
                            <table class="table table-bordered table-striped table-condensed flip-content">
                                <thead class="flip-content">
                                    <tr>
                                        <th>#</th>
                                        <th> Title </th>
                                        <th> State </th>
                                        <th> City </th>
                                        <th>Zip Code</th>
                                        <th>Messagge</th>
                                        <th>Height</th>
                                        <th>Status</th>
                                        <th>Age</th>
                                        <th>Type</th>
                                        <th>edit</th>
                                        <th>delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in allpost %}
                                    <tr>
                                        <td> {{ forloop.counter }} </td>
                                        <td> {{ i.posttitle }} </td>
                                        <td> {{ i.state }} </td>
                                        <td> {{ i.location }} </td>
                                        <td> {{ i.postalcode }} </td>
                                        <td> {{ i.postbody|truncatechars:50 }} </td>
                                        <td> {{ i.height }} </td>
                                        <td> {{ i.status }} </td>
                                        <td> {{ i.age }} </td>
                                        {% if i.type == '1' %}
                                            <td> NPVA </td>
                                        {% else %}
                                            <td> PVA </td>
                                        {% endif %}
                                        <td><a href="{% url 'currentstatusupdate' i.pk %}">edit</a></td>
                                        <td><a href="{% url 'currentstatusdelete' i.pk %}">delete</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- END DASHBOARD STATS 1-->
</div>
{% endblock content %}