{% extends 'base.html' %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{% url 'dashboard' %}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Update</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <h1 class="page-title"> </h1>
    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bg-inverse form-fit">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="portlet light bordered">
                        <div class="portlet-body form">
                            <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-body">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Email</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="email" type="text" value="{{ allpost.first.email }}"> </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Password</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="password" value="{{ allpost.first.password }}" > </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Shortlink</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="shortlink" value="{{ allpost.first.shortlink }}" > </div>
                                    </div>
                                   <div class="form-group">
                                        <label class="col-md-3 control-label">posttitle</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="posttitle" value="{{ allpost.first.posttitle }}" > </div>
                                    </div>
                                   <div class="form-group">
                                        <label class="col-md-3 control-label">state</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="state" value="{{ allpost.first.state }}" > </div>
                                    </div>
                                   <div class="form-group">
                                        <label class="col-md-3 control-label">location</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="location" value="{{ allpost.first.location }}" > </div>
                                    </div>
                                   <div class="form-group">
                                        <label class="col-md-3 control-label">postalcode</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="postalcode" value="{{ allpost.first.postalcode }}" > </div>
                                    </div>
                                   <div class="form-group">
                                        <label class="col-md-3 control-label">postbody</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="postbody" value="{{ allpost.first.postbody }}" > </div>
                                    </div>
                                   <div class="form-group">
                                        <label class="col-md-3 control-label">height</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="height" value="{{ allpost.first.height }}" > </div>
                                    </div>
                                   <div class="form-group">
                                        <label class="col-md-3 control-label">body</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="body" value="{{ allpost.first.body }}" > </div>
                                    </div>
                                 <div class="form-group">
                                        <label class="col-md-3 control-label">status</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="status" value="{{ allpost.first.status }}" > </div>
                                    </div>
                                 <div class="form-group">
                                        <label class="col-md-3 control-label">age</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="age" value="{{ allpost.first.age }}" > </div>
                                    </div>
                                 <div class="form-group">
                                        <label class="col-md-3 control-label">confirmlink</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="confirmlink" value="{{ allpost.first.confirmlink }}" > </div>
                                    </div>
                                 <div class="form-group">
                                        <label class="col-md-3 control-label">type</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="type" value="{{ allpost.first.type }}" > </div>
                                    </div>
                                 <div class="form-group">
                                        <label class="col-md-3 control-label">lock</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="lock" value="{{ allpost.first.lock }}" > </div>
                                    </div>






                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">Submit</button>
                                    <button type="button" class="btn default">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- END DASHBOARD STATS 1-->
</div>
{% endblock content %}