{% extends 'base.html' %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{% url 'dashboard' %}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Dashboard</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <h1 class="page-title"> Dashboard </h1>
    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="{{ usrcount }}">{{ usrcount }}</span>
                    </div>
                    <div class="desc"> Total User </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                    {% now "jS F" %}
                    </div>
                    <div class="desc"> Today</div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 green" href="{% url 'addnewuser' %}">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        Add User
                    </div>
                    <div class="desc"> Go there </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number"> Profile </div>
                    <div class="desc"> Show Details </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bg-inverse form-fit">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Live steam </div>
                </div>
                <div class="portlet-body flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th>#</th>
                                <th> Username </th>
                                <th> Status </th>
                                <th> Email </th>
                                <th>Confirm Link</th>
                                <th>Error Stage</th>
                                <th>PVA/NPVA</th>
                                <th>Email Verify</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in allpost %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td> {{ i.usr }} </td>
                                <td> </td>
                                <td> {{ i.email }} </td>
                                <td> {{ i.confirmlink }} </td>
                                <td> </td>
                                {% if i.type == '1' %}
                                <td> PVA </td>
                                {% else %}
                                <td> NPVA </td>
                                {% endif %}
                                <td> {{ i.veerify }} </td>
                                <td> </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- END DASHBOARD STATS 1-->
</div>
{% endblock content %}