{% extends 'base.html' %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{% url 'dashboard' %}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Lumina Upload</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <h1 class="page-title"> </h1>
    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bg-inverse form-fit">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="icon-settings font-red-sunglo"></i>
                                <span class="caption-subject bold uppercase"> Upload Lumina csv file</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form role="form" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">CSV</label>
                                        <div class="col-md-3">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <input name="upload_file" type="file">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">Submit</button>
                                    <button type="button" class="btn default">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- END DASHBOARD STATS 1-->
</div>
{% endblock content %}