{% extends 'base.html' %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{% url 'dashboard' %}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Add New User</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <h1 class="page-title"> </h1>
    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bg-inverse form-fit">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-red-sunglo">
                                <i class="icon-settings font-red-sunglo"></i>
                                <span class="caption-subject bold uppercase"> Add New User</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-body">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Username</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" placeholder="username" name="username" type="text"> </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Password</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="password" placeholder="password" type="password"> </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Email</label>
                                        <div class="col-md-9">
                                            <input class="form-control spinner" name="email" placeholder="email" type="email"> </div>
                                    </div>


                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">Submit</button>
                                    <button type="button" class="btn default">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- END DASHBOARD STATS 1-->
</div>
{% endblock content %}