{% extends 'base.html' %}
{% block content %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{% url 'dashboard' %}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>show all user</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <h1 class="page-title"> Show All user </h1>
    <!-- BEGIN DASHBOARD STATS 1-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bg-inverse form-fit">
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>User Details </div>
                </div>
                <div class="portlet-body flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                            <tr>
                                <th>#</th>
                                <th> Username </th>
                                <th> Full Name </th>
                                <th> Email </th>
                                <th>Last Login</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in user_list %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td> {{ i.username }} </td>
                                <td> {{ i.first_name }} {{ i.last_name }}</td>
                                <td> {{ i.email }} </td>
                                <td> {{ i.last_login }} </td>
                                <td> {{ i.is_active }} </td>
                                <td><a class="btn" href="">Edit</a> </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- END DASHBOARD STATS 1-->
</div>
{% endblock content %}